<!doctype html>
<html lang="en">
	<head>
		<title>CSE COURSE SEARCH ENGINE</title>
	</head>

	<body>
		<!--send info from here to python code-->
		<form action="/" method="POST">
		<!--search for course taken-->
		<h1><center><label for="courseInput">Enter courses taken (title or number):</label>
			<input id="courseInput" size="4" placeholder="i.e. Data Structures, 20312, etc." style="height:50px; width: 500px;" type="text" maxlength="100" minlength="1" name="courseInput"></input>
		</center></h1>
		<!--keyword search-->
		<h1><center><label for="keywordInput">Enter keywords:</label>
			<input id="keywordInput" size="4" placeholder="i.e. Machine Learning, 20312, etc." style="height:50px; width: 500px;" type="text" maxlength="100" minlength="1" name="keywordInput"></input>
		<!--submit button for keyword search-->
		<div><center>
			<button name="keywordSubmit" id = "keywordSub" type="submit" title="SEARCH">SEARCH</button>
		</center></div>
		</form>

		<!--containers for classes display-->
		<!--first two containers are in one row so we are putting in the same class-->
		<div class="req" id="target" >
			<h1><center>Required Courses Taken:</center></h1>
			<div class="container">
				{% for course in taken %}
					<p>{{course}}</p>
				{% endfor %}
			</div>
			<h1><center>Required Courses Remaining:</center></h1>
			<div class="container">
				{% for course in remaining %}
					<p>{{course}}</p>
				{% endfor %}
			</div>
		</div>
		<!--last container is on its own-->
		<div class="electives" id="target">
			<h1><center>Electives for You:</center></h1>
			<div class="container">
				{% for course in electivesAvailable %}
					<p>{{course}}</p>
				{% endfor %}
			</div>
	</body>
</html>
